@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li,
ol {
    list-style: none;
}

body {
    font-size: 14px;
    font-family: "돋움";
}

#wrap {
    width: 1000px;
    display: flex;
}

.left {
    width: 200px;
    height: 650px;
}

.logo {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {}

.main {
    width: 150px;
    margin: 0 auto;
}

.main>li {
    position: relative;
}

.main>li>a {
    display: block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 10px 0 0 10px;
    margin-top: 5px;
}

.main>li:hover>a {
    background-color: rgba(0, 0, 0, .5);
    color: #333;
}

.sub {
    position: absolute;
    width: 150px;
    height: 200px;
    left: 150px;
    top: -40px;
    z-index: 50;
    display: none;
    background-color: #333;

}

.sub li {}

.sub li a {
    display: block;
    width: 150px;
    height: 30px;
    background-color: #333;
    text-align: center;
    line-height: 30px;
    color: white;

}

.sub li:hover a {
    background-color: #bfdde9;
    color: black;
}

.right {
    width: 800px;
    height: 650px;
}

.img_slide {
    height: 350px;
    position: relative;
    overflow: hidden;
}

.left_move {
    position: absolute;
    width: calc(800px * 3);
    left: 0;
    top: 0;
    height: 350px;
}

.left_move li {
    float: left;
    width: 800px;
    height: 350px;
}

.contents {
    height: 200px;
    display: flex;
    justify-content: space-between;
}

.contents>div {
    width: 33%;
    height: 200px;
}

.contents h2 {
    font-size: 14px;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #ddd;
    border-radius: 10px 10px 0 0;
}

.contents ul {
    background-color: #f1f1f1;
    width: 100%;
    height: 170px;
    border-top: 1px solid black;
    padding: 5px;
}

.notice {}

.notice ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.notice ul li {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.notice ul li a {
    width: 70%;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.notice ul li span {
    width: 25%;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.gallery {}

.gallery ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery ul li {
    width: 32%;

}

.gallery ul li img {
    width: 100%;
    transition: all 0.3s;
}

.gallery ul li img:hover {
    opacity: 0.5;
}

.banner {
    border: 5px solid #ddd;
    padding: 5px;
    height: 200px;
    background-color: #f1f1f1;
}

.banner p {
    height: 100%;
}

.banner p a {
    display: block;
    height: 100%;
    text-align: center;
}

.banner p a img {
    height: 100%;
    filter: grayscale(100%);
    transition: all 0.3s;
}

.banner p a img:hover {
    filter: none;
}

.footer {
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.f_logo {
    width: 200px;
}

.f_right {
    width: 600px;
    height: 100%;
}

.f_menu {
    height: 50%;
    text-align: center;
    line-height: 50px;
}

.f_menu a {
    padding: 0 5px;
}

.copy {
    height: 50%;
    text-align: center;
    line-height: 50px;
    border-top: 1px dotted #ddd;
}

.popup {
    width: 500px;
    height: 300px;
    background-color: 5px groove goldenrod;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    display: none;
}

.popup h3 {
    text-align: center;
    font-size: 16px;
    padding-bottom: 20px;
    border-bottom: 5px double #ddd;
}

.popup p {
    padding-top: 20px;
    text-align: justify;
    line-height: 2;
}

.popup .close {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 5px 10px;
    cursor: pointer;
}